@media all and (max-width: 950px) {
    #app {
        .main-section {
            .section-left-column, .section-right-column {
                flex-basis: 100%;
            }
            .section-right-column {
                margin-top: 5vh;
            }
        }
    }
}

@media all and (max-width: 650px) {
    #app {
        .main-section {
            .section-left-column {
                text-align: center;
                padding: 10%;
                .product-container {
                    .picture-container, .product-information {
                        flex-basis: 100%;
                        height: fit-content;
                        display: flex;
                        justify-content: space-between;
                    }
                    .product-information-title, .product-information-content {
                        border: 0;
                        padding: 0;
                        align-items: center;
                        height: unset;
                        text-align: left;
                    }
                    .picture-box-container {
                        flex-basis: 100%;
                        margin-top: 2vh;
                        justify-content: center;
                    }
                }
                .section-body-footer {
                    margin-top: 2vh;
                    justify-content: center;
                }
            }
        }
    }
}

@media all and (max-width: 500px) {
    #app {
        .main-section {
            .section-header {
                flex-wrap: wrap;
                justify-content: center;
                margin-bottom: 2vh;
                h3 {
                    flex-basis: 100%;
                    text-align: center;
                }
            }
        }
    }
}